server
server_http
server_https
radio_server
playlist_manager
auth_app
cgi_bin/mixtape_app
cgi_bin/request_song
.vscode
venv
cookies.txt
robots.txt
shell_commands_used.txt
cert.pem
key.pem
data/users.json
cgi_debug.log
*.o
cgi_bin/*.o
public_html/mixtape/*/*.mp3
public_html/mixtape/*/*.png
public_html/mixtape/*/*.json
public_html/mixtape/*.mp3